<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header><img alt="logo" src="https://www.kainos.com/globalassets/images/5_logos/kainos_logo.png?mode=crop&width=400"
      class="header__logo-img"></header>

      <div class="page-title">
    <h1>Add New User</h1>
    </div>

    <main>
    <form action="/users/add" method="post">
        <label for="name">Name:</label><br>
        <input type="name" id="name" name="name"><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>

        <label for="role">Role:</label><br>
        <input type="role" id="role" name="role"><br>

        <input type="submit" value="Submit">
    </form>
  </main>
</body>

<div class="footer-banner">
<footer>Copyright © 2024 Kainos. Contact:
  <address>support@kainospeoplesupport.com</address>
</footer>
</div>
</html>
