<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header><img alt="logo" src="https://www.kainos.com/globalassets/images/5_logos/kainos_logo.png?mode=crop&width=400"
        class="header__logo-img"></header>

        <div class="page-title">
    <h1>User Information</h1>
    </div>

    <main>
    <% if (user) { %>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.role %></td>
                </tr>
            </tbody>
        </table>
    <% } else { %>
        <p>No user found.</p>
    <% } %>

</main>
</body>

<div class="footer-banner">
<footer>Copyright © 2024 Kainos. Contact:
  <address>support@kainospeoplesupport.com</address>
</footer>
</div>
</html>
